{% extends 'base.html' %}

{% block content %}

    {% if all_items %}
        <table class="table table-danger">
        {% for things in all_items %}   
            {% if things.completed %} 
                <tr>
                    <td>{{ things.date }}</td>
                    <td class="striker">{{ things.item }}</td>
                    <td><center><a href="{% url 'edit' things.id %}"><button class="btn btn-danger btn-sm">Edit</button></a></center></td>
                    <td><center><a href="{% url 'uncross' things.id %}"><button class="btn btn-danger btn-sm">Uncross</button></a></center></td>
                    <td><center><a href="{% url 'delete' things.id %}"><button class="btn btn-danger btn-sm">Delete</button></a></center></td>

                </tr>
                {% else %} 
                <tr>
                    <td>{{ things.date }}</td>
                    <td>{{ things.item }}</td>
                    <td><center><a href="{% url 'edit' things.id %}"><button class="btn btn-danger btn-sm">Edit</button></a></center></td>
                    <td><center><a href="{% url 'cross_off' things.id %}"><button class="btn btn-danger btn-sm">Cross Off</button></a></center></td>
                    <td><center><a href="{% url 'delete' things.id %}"><button class="btn btn-danger btn-sm">Delete</button></a></center></td>  
                </tr>
            {% endif %}
            
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}