{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Football Players</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-book">
      <span class="glyphicon glyphicon-plus"></span>
      New Player
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>Rank</th>
          <th>Name</th>
          <th>Code</th>
          <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataset %}
        <tr>
          <td>{{ data.rank }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.code }}</td>
          <td>{{ data.cost }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No Player</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
 <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
{% endblock %}